@import './variables.scss';

.content {
  border: 1px solid red;
  min-height: 50%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;

 
  a {
    color: $color-bg-footer;
    display: block;
    border: 1px solid $color-bg-header;
    margin: 20px auto;
    border-radius: 7px;
    padding: 7px;
    max-width: 150px;
    text-decoration: none;
    background-color: white;
  }
  
}