@import './variables.scss';

.exercises {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    margin: 20px 0;
  }

  button {
    margin: 20px auto;
  }

}