@import './variables.scss';

.footer {
  background-color: $color-bg-footer;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h4 {
    text-shadow: 0 0 3px $color-bg-header;
  }

  a {
    color: white;
    text-decoration: none; 
  }
}

@media only screen and (orientation: landscape) {
  .footer {
    display: none;
  }
}