@import './variables.scss';

.footer {
  background-color: $color-bg-footer;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h4 {
    text-shadow: 0 0 3px $color-bg-header;
    font-weight: 400;
  }

  a {
    color: white;
    text-decoration: none; 
  }
}