@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: black;
  flex-direction: column;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $color-bg-container;
}

ol,
ul {
  list-style: none;
}

h1 {
  text-shadow: 0 0 3px $color-bg-footer;
  background-color: rgba(255, 0, 0, 1);
  max-width: fit-content;
  padding: 4px 10px;
  border-radius: 7px;
  margin: 40px auto 10px;
  border: 1px solid white;
}

.container h2 {
  text-shadow: 0 0 3px $color-bg-header;
  margin: 20px auto;
  cursor: pointer;
  border: 1px solid white;
  background-color: $color-bg-header;
  border-radius: 5px;
  max-width: fit-content;
  padding: 3px;
}

.container h2.blue {
  color: $color-bg-footer;
  text-shadow: none;
  border: none;
  max-width: 100%;
  background: none;
  // margin-top: 40px;
  span {
    color: $color-bg-header;
  }
}

.btn {
  display: block;
  border: 1px solid white;
  cursor: pointer;
  background-color: $color-bg-footer-08;
  padding: 5px 10px;
  color: white;
  border-radius: 7px;
  font-size: 16px;
  text-transform: lowercase;
  margin: 10px auto 25px;
}

.notice {
  display: none;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-bg-footer;
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  
  h3 {
    padding: 10px;
    margin: auto;
  }
}