@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: black;
  flex-direction: column;
  font-family: 'Roboto Condensed', sans-serif;;
  text-align: center;

}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $color-bg-container;
  position: relative;
}

ol,
ul {
  list-style: none;
}

h1 {
  text-shadow: 0 0 3px $color-bg-footer;
  background-color: rgba(255, 0, 0, 1);
  max-width: fit-content;
  padding: 4px 10px;
  border-radius: 7px;
  margin: 40px auto 10px;
  border: 1px solid white;
}

.container h2 {
  text-shadow: 0 0 3px $color-bg-header;
  margin: 20px auto;
  cursor: pointer;
  border: 1px solid white;
  background-color: $color-bg-header;
  border-radius: 5px;
  max-width: fit-content;
  padding: 3px; 
}

.btn {
  display: block;
  border: 1px solid white;
  cursor: pointer;
  background-color: $color-bg-footer-08;
  padding: 5px 10px;
  color: white;
  border-radius: 7px;
  font-size: 16px;
  text-transform: lowercase;
  margin: 10px auto 18px;
}

.btn-forward {
  padding: 50px 5px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.notice {
  display: none;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  
  h3 {
    padding: 10px;
    margin: auto;
  }
}

/////styles for interactive
.hide {
  display: none !important;
}

.red {
  background-color: $color-bg-header !important;
}

.comment {
  color: $color-bg-footer;
}

div.res {
  position: absolute;
  background-color: none;
  background-position: center;
  background-size: cover;
  display: inline-block;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  transform: translate(5px, -10px);

}

div.res.false {
  background-image: url('/false.png');
}

div.res.true {
  background-image: url('/true.png');
}