@import './variables.scss';

.header {
  background-color: $color-bg-header;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  h2 {
    text-shadow: 0 0 6px $color-bg-footer;
    font-weight: 400;
  }
}