@import './variables.scss';

.verbs {
  h2 {
    span {
      color: white;
    }
    margin: 5px auto;
  }

  h3 {
    text-shadow: 0 0 3px $color-bg-header;
    margin: 5px 0;
  }

  p span {
    color: $color-bg-footer;
  }
}